<div class="panel panel-default">
  <header class="panel-heading"><%= answer.user.email %> answered at <%= time_ago_in_words answer.created_at %></header>
  <div class="panel-body"><%= answer.body %></div>
</div>